{{page-title "EcnClickProblem"}}

<NotificationContainer @position={{this.position}} @zindex={{this.zindex}} />

<button type="button" {{on "click" this.makeNotification}}>Make notification</button>

{{outlet}}
